@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

h2 {
  width: 48ch;
  font-weight: 500;
}

span.lighthouse {
  font-family: 'Libre Baskerville', serif;
  color: #1f2b5e;
}

section {
  margin: 0;
  padding: 0;
}

.hero-image {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 33%;
  background-image: url(mountains.jpg);
  background-size: cover;
  background-position: 55%;
}

.hero-image > p {
  color: white;  
  font-size: .7rem;
  align-self: center;
  position: relative;
  top: 70%;
}

.hero-image > p > a {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, 50%);
  padding: 1rem;
  position: relative;
  top: 22%;
  gap: 4%;
}

.logo > img {
  height: 6rem;
}

.logo > h1 {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.form-body {
  display: flex;
  flex-direction: column;
  width: 67%;
}

.form-container {
  padding: 2rem;
}

form {
  width: 67%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-row > p {
  display: flex;
  flex-direction: column;
  flex: none;
  align-items: flex-start;
  font-size: .7rem;
  font-weight: 800;
  letter-spacing: .5ch;
  min-width: 45%;
}

.form-row > p > label {
  padding: .3rem;
}

label span {
  color: red;
  font-size: 1rem;
}

.form-row > p > input {
  height: 2rem;
  border-radius: 7px;
  width: 100%;
  border: 1px solid #656c9f;
  outline: none;
}

.form-row > p > input:focus {
  outline: 2px solid #656c9f;
}

.form-row > p > input[type="password"]:invalid {
  outline: 2px solid red;
  border: 1px solid red;
}

.form-row > p > input[type="password"]:valid {
  outline: 2px solid #17C28C;
  border: 1px solid #17C28C;
} 


.submission {
  padding: 2rem;
  box-shadow: inset 0px 10px 10px -10px black;
}

.submission > p > a {
  text-decoration: none;
  font-weight: 700;
  color: #1f2b5e;
}

button {
  padding: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  background-color: #656c9f;
  border-radius: 7px;
  box-shadow: none;
  border: 1px solid #061522;
  color: white;
}

button:hover {
  background-color: #1f2b5e;
  cursor: pointer;
}

button:active {
  background-color: #061522;
}
